@using System.Web.Configuration
@using music.local
@using music.local.Models
@{
    Layout = null;
    List<SoundTrackModel> list = (List<SoundTrackModel>)ViewBag.Data;
    var host = WebConfigurationManager.AppSettings["AbsoluteHostPath"];
    var isFirst = "";
    var count = 0;
}

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Video</title>
    <link href="~/Content/bootstrap3.3.7/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/VideoJS5.13/video-js.css" rel="stylesheet" />
    <link href="~/Content/CSS/Site.css" rel="stylesheet" />
    <link href="~/Content/jsTree/dist/themes/default/style.css" rel="stylesheet" />
</head>
<div class="video-content body">
    <div class="main-cont">
        <div class="col-md-3">
            <ul style="padding:0px;" class="nav nav-stacked">
                @if (list != null)
                {
                    count = 0;
                    isFirst = "active";
                    foreach (var item in list)
                    {
                        <li role="presentation" class="list-video-item @isFirst" data-src="">
                            <a href="#@("folder-" + count)" aria-controls="home" role="tab" data-toggle="tab">
                                <table>
                                    <tr>
                                        <td>
                                            <img class="listitem-cover img-responsive" src="@("/Home/File?p=" + item.CoverPath)" />
                                        </td>
                                        <td>
                                            <label class="listitem-label">@item.Name</label>
                                        </td>
                                    </tr>
                                </table>
                            </a>
                        </li>
                        isFirst = "";
                        count++;
                    }
                }
            </ul>
        </div>
        <div class="col-md-9">
            <div class="video-detail">
                <video class="video-js vjs-default-skin" controls id="video-player"></video>
            </div>
            <div class="tab-content">
                @if (list != null)
                {
                    isFirst = "active";
                    count = 0;
                    foreach (var item in list)
                    {
                        <div role="tabpanel" class="tab-pane @isFirst" id="@("folder-" + count)">
                            <div class="video-detail">

                                <div class="playlist-wraper">
                                    <div class="ul" id="parent-@count">
                                        @{ var count2 = 0; }
                                        @foreach (var child in item.ListTrack)
                                        {
                                            <div id="vid-@count-@count2" class="li " data-parent="parent-@count" onclick="playVideo('#vid-@count-@count2')"
                                                 data-src="@child.FilePath">
                                                <img  title="@child.Name" class="img-responsive" src="@Url.Action("Thumbnail", "Video", new {p = child.FilePath})" alt="" />
                                                <p  title="@child.Name">@child.Name</p>
                                            </div>
                                            count2++;
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                                        isFirst = "";
                                        count++;
                    }
                }
            </div>
        </div>
    </div>
</div>

<script src="~/Content/JS/jquery-3.1.1.min.js"></script>
<script src="~/Content/bootstrap3.3.7/js/bootstrap.js"></script>
<script src="~/Content/VideoJS5.13/video.js"></script>
<script src="~/Content/JS/Common.js"></script>

<script>
    $(function () {
        $.currnetVID = "";
        $.myVideoPlayer = videojs("video-player");
        $.myVideoPlayer.on("ended", function () {
            endPlay();
        });
    });

    //id của thẻ div, đã có #
    function playVideo(id) {
        $.myVideoPlayer.src("");
        var src = $(id).data("src");
        $.myVideoPlayer.src("/api/Streamming/Get?p=" + encodeURIComponent(src));
        $.currnetVID = id;
        SetActive(id);
        $.myVideoPlayer.play();
    }
    function endPlay() {
        var crntId = $.currnetVID;
        var arr = crntId.split("-");
        var newId = arr[0] + "-" + arr[1] + "-" + (parseInt(arr[2]) + 1);
        if ($(newId).length) {
            LogDebug("play next");
            playVideo(newId);
        } else {
            LogDebug("play 0");
            newId = arr[0] + "-" + arr[1] + "-0";
            playVideo(newId);
        }
    }

    function SetActive(id) {

        //child-1
        var parentid = $(id).data("parent");
        $("#" + parentid).children().each(function (index, value) {
            $(value).removeClass("actived");
        });
        //    
        $(id).addClass("actived");
        var pnum = parentid.split("-")[1];
        var cnum = id.split("-")[2];
        var width = $("#folder-" + pnum + " .playlist-wraper").width();
        var liWidth = 160;
        //liWidth = 140;
        //var liWidth = $("#folder-" + num + " .playlist-wraper").width();
        LogDebug(cnum);
        var offsetScroll = (parseInt(cnum) + 1) * liWidth - width;
        LogDebug(offsetScroll);
        $("#folder-" + pnum + " .playlist-wraper").scrollLeft(offsetScroll);

    }
</script>