@using System.Web.Configuration
@using music.local
@using music.local.Models
@{
    Layout = "~/Views/Shared/_layout.cshtml";
    List<SoundTrackModel> list = (List<SoundTrackModel>)ViewBag.Data;
    var host = WebConfigurationManager.AppSettings["AbsoluteHostPath"];
    var isFirst = "";
    var count = 0;
}

<div class="video-content body">
    <div class="main-cont">
        <div class="col-md-3">
            <ul style="padding:0px;" class="nav nav-stacked">
                @if (list != null)
                {
                    count = 0;
                    isFirst = "active";
                    foreach (var item in list)
                    {
                        <li role="presentation" class="list-video-item @isFirst" data-src="">
                            <a href="#@("folder-" + count)" aria-controls="home" role="tab" data-toggle="tab">
                                <table>
                                    <tr>
                                        <td>
                                            <img class="listitem-cover img-responsive" src="@("/Home/File?p=" + item.CoverPath)" />
                                        </td>
                                        <td>
                                            <label class="listitem-label">@item.Name</label>
                                        </td>
                                    </tr>
                                </table>
                            </a>
                        </li>
                        isFirst = "";
                        count++;
                    }
                }
            </ul>
        </div>
        <div class="col-md-9">
            <div class="video-detail">
                <video class="video-js vjs-default-skin" controls id="video-player"></video>
            </div>
            <div class="tab-content">
                @if (list != null)
                {
                    isFirst = "active";
                    count = 0;
                    foreach (var item in list)
                    {
                        <div role="tabpanel" class="tab-pane @isFirst" id="@("folder-" + count)">
                            <div class="video-detail">

                                <div class="playlist-wraper">
                                    <div class="ul" id="parent-@count">
                                        @{ var count2 = 0; }
                                        @foreach (var child in item.ListTrack)
                                        {
                                            <div id="vid-@count-@count2" class="li " data-parent="parent-@count" onclick="playVideo('#vid-@count-@count2')"
                                                 data-src="@child.FilePath">
                                                <img  title="@child.Name" class="img-responsive" src="@Url.Action("Thumbnail", "Video", new {p = child.FilePath})" alt="" />
                                                <p  title="@child.Name">@child.Name</p>
                                            </div>
                                            count2++;
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                                        isFirst = "";
                                        count++;
                    }
                }
            </div>
        </div>
    </div>
</div>


<script src="~/Content/JS/VideoIndex.js"></script>
