@using System.Web.Configuration
@using System.Web.Mvc.Html
@using music.local.Models
@inherits WebViewPage
@{
    Layout = null;
    List<SoundTrackModel> list = (List<SoundTrackModel>)ViewBag.Data;
    var host = WebConfigurationManager.AppSettings["AbsoluteHostPath"];

}
<head>
    <title>Far, any way!</title> 
</head>
<link href="~/Content/bootstrap3.3.7/css/bootstrap.css" rel="stylesheet" />
<link href="~/Content/CSS/Site.css" rel="stylesheet" />
<link href="~/Content/jsTree/dist/themes/default/style.css" rel="stylesheet" />
@*<link href="~/Content/VideoJS5.13/video-js.css" rel="stylesheet" />*@
<div class="body">
    <div class="main-cont">
        <div class="col-md-4">
            <ul class="nav nav-stacked">
                @{
                    var isFirst = "active";
                    var count = 0;
                    var firstIMG = "";
                    foreach (var soundTrackModel in list)
                    {
                        <li role="presentation" class="@isFirst">
                            <a href="#@(count + soundTrackModel.Name)" aria-controls="home" role="tab" data-toggle="tab">
                                @soundTrackModel.Name
                            </a>
                        </li>
                        if (!string.IsNullOrEmpty(isFirst) && soundTrackModel.CoverPath != "")
                        {
                            firstIMG = host + "/Home/File?p=" + soundTrackModel.CoverPath;
                        }
                        count++;
                        isFirst = "";
                    }
                }
            </ul>

        </div>
        <div class="col-md-8">
            <div class="tab-content">
                @{
                    isFirst = "active";
                    count = 0;
                    foreach (var soundTrackModel in list)
                    {
                        <div role="tabpanel" class="tab-pane @isFirst" id="@(count + soundTrackModel.Name)">
                            <div class="treeWraper">
                                <ul>
                                    @* build tree view *@
                                    @foreach (var item in soundTrackModel.ListTrack)
                                    {
                                        Html.RenderPartial("/Views/TreeNode.cshtml", item);
                                    }
                                </ul>
                            </div>
                        </div>
                        isFirst = "";
                        count++;
                    }
                }
            </div>
        </div>
    </div>
</div>
<audio id="player" class="hidden" controls preload="auto"></audio>
<div class="footer-player">
    <div class="albumCover">
        <img id="cover" src="@firstIMG" class="img-responsive"/>
        <div class="controls-wraper">
            <div class="buttons">
                <button text="Pause" onclick="togglePlay()" id="btnPlay" class="control-btnCustom control-btnplay"></button>
                <button text="Next" onclick="nextTrack()" id="btnMyNext" class="control-btnCustom control-btnnext"></button>
                <button text="Repeat Album" onclick="changeLoop(this)" id="btnMyLoop" class="control-btnCustom control-loop2"></button>
            </div> 
        </div>
    </div>
    <div class="player-wraper">
        <div id="playerSongInfor"></div>
        <div id="player-display">
            <div id="remain-display" style="width:100%;"></div>
        </div>

    </div>

</div>
<script src="~/Content/JS/jquery-3.1.1.min.js"></script>
<script src="~/Content/bootstrap3.3.7/js/bootstrap.js"></script>
<script src="~/Content/jsTree/dist/jstree.js"></script>
<script src="~/Content/JS/CookieHelper.js"></script>
@*<script src="~/Content/WaveSurfer/wavesurfer.min.js"></script>*@
<script src="~/Content/JS/Common.js"></script>
<script src="~/Content/JS/CustomWithoutPlugin.js"></script>