@using System.Web.Configuration
@using System.Web.Mvc.Html;
@using music.local.Models;
@model SoundTrackModel

@{    
    var host = WebConfigurationManager.AppSettings["AbsoluteHostPath"];
    var icon = "";
    var src = "";
    var playAction = "";
    var ids = "";
    var scroolMark = Model.ParentGid +"-"+ Model.Name[0];
    switch ((TrackType)Model.ItemType)
    {
        case TrackType.Group:
            icon = "glyphicon glyphicon-th-list";
            break;
        case TrackType.Album:
            src = host + "/Home/File?p=" + Model.CoverPath;
            icon = "glyphicon glyphicon-cd";
            break;
        case TrackType.Track:
            playAction = "onclick=\"playAudio('" + Model.ParentGid + "-" + Model.order + "')\"";
            //src = host+"/Home/File?p="+ Model.FilePath;
            src = host+"/api/Streamming/Get?p="+ Model.FilePath;
            icon = "glyphicon glyphicon-play";
            ids = "id=" + Model.ParentGid + "-" + Model.order + "";
            break;
        default: 
            playAction = "onclick=\"playAudio('" + Model.ParentGid + "-" + Model.order + "')\"";
            //src = host + "/Home/File?p=" + Model.FilePath;
            src = host + "/Streamming?p=" + Model.FilePath;
            icon = "glyphicon glyphicon-play";
            ids = "id=" + Model.ParentGid + "-" + Model.order + "";
                break;
    }
    var data = "{\"icon\":\"" + icon + "\"}";
}


<li @(ids) class="@(Model.ParentGid + "-" + Model.order) " @(Html.Raw(playAction)) data-jstree="@data" name="@(Model.Name+" / "+Model.CoverPath)" data-order="@Model.order" data-src="@src">
    @Model.Name
   
    @if ((TrackType) Model.ItemType != TrackType.Track)
    {
        <input type="hidden" class="ids-@Model.Gid" value="@(Model.ListTrack == null ? 0 : Model.ListTrack.Count)"/>
    }
    else
    {
        <label class="@scroolMark"></label>
    }
    @{
        if (Model.ListTrack != null && Model.ListTrack.Any())
        {
            <ul>
                @foreach (var child in Model.ListTrack)
                {
                    Html.RenderPartial("/Views/TreeNode.cshtml", child);
                }
            </ul>
        }
    }

</li>